

\tocdepth{2}
\def\NKT@lunwenleibie{论文类别}
\newcommand{\proof}[1][\NKT@proof]{\par\textbf{#1.}\,\, }
\def\endproof{\hfill{\usefont{U}{msa}{m}{n}\char"03}}

\def\zhaiyao{
  \clearpage
  \vspace*{24pt}
  \centerline{\zihaoxiaoer\rmfamily\bfseries\jiacu 摘要}
  \addcontentsline{toc}{chapter}{\protect\numberline{摘要}{}}
  \markboth{摘要}{摘要} 
  \vspace*{18pt}
  \fontsize{12}{20}\selectfont}
\let\endzhaiyao\relax

\def\abstract{
  \clearpage
  \vspace*{24pt}
  \centerline{\zihaoxiaoer\usefont{OT1}{phv}{bx}{n}Abstract}
  \addcontentsline{toc}{chapter}{\protect\numberline{Abstract}{}}  
  \markboth{Abstract}{Abstract}
  \vspace*{18pt}
  \fontsize{12}{20}\selectfont}
\let\endabstract\relax

\long\def\guanjianci{\par{\rmfamily\jiacu 关键词：}}
\let\endguanjianci\relax

\long\def\keywords{\par{\rmfamily\bfseries Key Words: }}
\let\endkeywords\relax


\endlinechar `\^^M

\def\NKT@declaration{
本人郑重声明：所呈交的学位论文，是本人在导师指导下进行研究工作所
取得的研究成果。除文中已经注明引用的内容外，本学位论文的研究成果不包
含任何他人创作的、已公开发表或者没有公开发表的作品的内容。对本论文所
涉及的研究工作做出贡献的其他个人和集体，均已在文中以明确方式标明。本
学位论文原创性声明的法律责任由本人承担。}

\long\def\NKT@authorization{
根据《南开大学关于研究生学位论文收藏和利用管理办法》，我校的博士、硕士学位
获得者均须向南开大学提交本人的学位论文纸质本及相应电子版。

本人完全了解南开大学有关研究生学位论文收藏和利用的管理规定。南开大学拥有在
《著作权法》规定范围内的学位论文使用权，即：(1)学位获得者必须按规定提交学位论文
(包括纸质印刷本及电子版)，学校可以采用影印、缩印或其他复制手段保存研究生学位论
文，并编入《南开大学博硕士学位论文全文数据库》；(2)为教学和科研目的，学校可以将
公开的学位论文作为资料在图书馆等场所提供校内师生阅读，在校园网上提供论文目录检
索、文摘以及论文全文浏览、下载等免费信息服务；(3)根据教育部有关规定，南开大学向
教育部指定单位提交公开的学位论文；(4)学位论文作者授权学校向中国科技信息研究所和
中国学术期刊(光盘)电子出版社提交规定范围的学位论文及其电子版并收入相应学位论文
数据库，通过其相关网站对外进行信息服务。同时本人保留在其他媒体发表论文的权利。


非公开学位论文，保密期限内不向外提交和提供服务，
解密后提交和服务同公开论文。

论文电子版提交至校图书馆网站：http://202.113.20.161:8001/index.htm。

本人承诺：本人的学位论文是在南开大学学习期间创作完成的作品，并已通过论文答
辩；提交的学位论文电子版与纸质本论文的内容一致，如因不同造成不良后果由本人自负。
 
本人同意遵守上述规定。本授权书签署一式两份，由研究生院和图书馆留存。}
 

\long\def\NKTtitlepage{
  \clearpage
  \bgroup
  \parindent 0em
  \thispagestyle{empty}
  \zihaowu
  \def\arraystretch{1.5}
  \begin{tabular}{rlrl}
  中图分类号:&\hbox to 75mm{\NKT@keyvalue{zhongtufenleihao}\hfil} &学校代码:&\NKT@keyvalue{xuexiaodaima}\\
  UDC:&\NKT@keyvalue{UDC}&密级: &\NKT@keyvalue{miji}
  \end{tabular}

  \vskip 10mm
  \hskip 53mm\hbox{\includegraphics[viewport=0 0 2984 969,width=40mm]{nankaidaxue.pdf}}
  \vskip -10mm
  \begin{center}
  {\def\CJKglue{\hskip 0.5em}\zihaoer\jiacu 
     \ifx\NKT@key@lunwenleibie\NKT@string@boshi 
       博士学位论文%
     \else
       硕士学位论文%
     \fi}

  \vskip 15mm
  \zihaosan
  \baselineskip 30pt
  \vbox to 70mm{
  \NKT@keyvalue{lunwentimuzh}

  \NKT@keyvalue{fubiaoti}

  \NKT@keyvalue{lunwentimuy}
  \vss}

  \vskip 10mm
  \zihaosi
  \def\arraystretch{2}
  \tabcolsep 0.1em
  \begin{tabular}{lcl}
  \NKT@tp@item{论文作者}{lunwenzuozhe}  & \hbox to 10mm{} & \NKT@tp@item{指导教师}{zhidaojiaoshi}  \\
  \NKT@tp@item{申请学位}{shenqingxuewei}&                 & \NKT@tp@item{培养单位}{peiyangdanwei}  \\
  \NKT@tp@item{学科专业}{xuekezhuanye}  &                 & \NKT@tp@item{研究方向}{yanjiufangxiang}\\
  答辩委员会主席 \hskip 0.5em\underline{\hbox to 24mm{}} 
  & &评\hskip 0.5em 阅\hskip 0.5em人\hskip 0.5em\underline{\hbox to 40mm{}}     
 \end{tabular}

  \vskip 10mm
  \zihaosi\baselineskip 2.2em

  南开大学研究生院

  \NKT@keyvalue{lunwenwanchengshijian}
  \end{center}
  \egroup}

\def\NKT@tp@item#1#2{%
  #1%
  \hskip 0.5em%
  \underline{\hbox to 40mm{\hfil\NKT@keyvalue{#2}\hfil}}}

\long\def\NKTdeclaration{
  \clearpage
  \@makeschapterhead{南开大学学位论文原创性声明}
%  \vskip 24pt

  \fontsize{12}{24}\selectfont
  \NKT@declaration

  \vskip 10mm
  学位论文作者签名：\hskip .5em\underline{\hbox to 40mm{}}
  \hfill 年\hskip 2em 月\hskip 2em 日\hbox to 1em{}

  \vskip -1.2em
  \noindent
  {\setlength\unitlength{1mm}
  \begin{picture}(145,1)(0,0)
  \multiput(0,0)(2,0){72}{\line(1,0){1}}
  \end{picture}}

  \vskip 5mm
  \centerline{\heiti\zihaosan 非公开学位论文标注说明}

  根据南开大学有关规定，非公开学位论文须经指导教师同意、作者本人申
  请和相关部门批准方能标注。未经批准的均为公开学位论文，公开学位论文本
  说明为空白。

  \vskip 12pt
  \bgroup
  \tabcolsep 0pt
  \fontsize{12}{12}\selectfont
  \def\arraystretch{2.5}
  \noindent
  \hbox to 140mm{%
  \hskip -3mm
  \begin{tabular}{|c|l|}
  \hline
  \vbox to 10mm{\vskip 4mm\hbox to 31mm{\hfil\heiti 论文题目\hfil}\vss}
    &\hbox to 121mm{}\\
  \hline
  \heiti 申请密级 &\quad □限制(≤2年)\qquad □秘密(≤10 年)\qquad □机密(≤20年)\\
  \hline
  \heiti 保密期限 & \qquad 20\hskip 12mm 年\qquad 月 \qquad 日至20 \hskip 12mm 年\qquad 月\qquad 日\\
  \hline
  \heiti 审批表编号&\hbox to 42mm{}\vline\hbox to 24mm{\hss \heiti 批准日期\hss}\vline
    \qquad 20\qquad  年\qquad 月\qquad 日\\
  \hline
  \end{tabular}\hss}

  \vskip .5em
  \fontsize{12}{24}\selectfont
  \hfill {\heiti 南开大学学位办公室盖章(有效)\hskip 0.5em}

  \vskip 10mm
  \parindent 8em
  \def\arraystretch{2}
  \zihaowu
  \begin{tabular}{lrclcl}
  限制★ &2 年（最长& 2 &年， 可少于& 2 &年）\\
  秘密★ &10 年（最长& 5 & 年，可少于& 5 &年）\\
  机密★ &20 年（最长& 10 &年，可少于&10 &年）\\
  \end{tabular}
  \egroup}

\long\def\NKTauthorization{
  \clearpage
  \@makeschapterhead{南开大学学位论文使用授权书}

  \zihaowu
  \baselineskip 19pt
  \parindent 2em
  \NKT@authorization

  \hfill 作者暨授权人签字：\underline{\hbox to 30mm{}}\hbox to 4em{}

  \hfill 20\qquad  年\qquad 月\qquad  日 \hbox to 2.6em{}

  \vskip 5mm

  \centerline{\zihaoxiaosi\bfseries 南开大学研究生学位论文作者信息}

  \fontsize{10.5}{10.5}\selectfont
  \def\NKT@au@item##1##2{%
    ##1%
    \edef\NKT@temp{\csname NKT@string@##2\endcsname}%
    \ifx\NKT@key@lunwenleibie\NKT@temp
      ■%
    \else
      □%
    \fi}
  \hbox to 140mm{%
  \def\arraystretch{1.8}
  \tabcolsep 0pt
  \hskip -8mm
  \begin{tabular}{|l|}
  \hline
  \hbox to 22mm{\def\CJKglue{\hskip .5em}\hss 论文题目\hss}\vrule
  \hbox to 135.7mm{\hss\NKT@keyvalue{lunwentimuzh}\hss}\\
  \hline
  \hbox to 22mm{\hss 姓\hskip 3.5em 名\hss}\vrule
  \hbox to 25mm{\hss \NKT@keyvalue{lunwenzuozhe}\hss}\vrule
  \hbox to 12mm{\hss 学号\hss}\vrule
  \hbox to 33mm{\hss \NKT@keyvalue{xuehao}\hss}\vrule
  \hbox to 22mm{\hss 答辩日期\hss}\vrule
  \hbox to 38mm{\hss \NKT@keyvalue{dabianriqi}\hss}\hss\\
  \hline
  \hbox to 22mm{\def\CJKglue{\hskip .5em}\hss 论文类别\hss}\vrule
  \hbox to 133.7mm{\hss\NKT@au@item{博士}{boshi}\quad
  \NKT@au@item{学历硕士}{xuelishuoshi}\quad
  \NKT@au@item{硕士专业学位}{shuoshizhuanyexuewei}\quad
  \NKT@au@item{高校教师}{gaoxiaojiaoshi}\quad
  \NKT@au@item{同等学力硕士}{tongdengxuelishuoshi}\hss}\\
  \hline
  \hbox to 22mm{\hss 院\hfil /\hfil 系\hfil /\hfil 所\hss}\vrule
  \hbox to 47mm{\hss\NKT@keyvalue{yuanxisuo}\hss}\vrule
  \hbox to 16.5mm{\hss 专\hskip 1.5em 业\hss}\vrule
  \hbox to 69mm{\hss\NKT@keyvalue{zhuanye}\hss}\\
  \hline
  \hbox to 22mm{\def\CJKglue{\hskip .5em}\hss 联系电话\hss}\vrule
  \hbox to 47mm{\hss\NKT@keyvalue{lianxidianhua}\hss}\vrule
  \hbox to 16.5mm{\hss{\bfseries Email}\hss}\vrule
  \hbox to 69mm{\hss\NKT@keyvalue{Email}\hss}\\
  \hline
  \,通讯地址(邮编)：\NKT@keyvalue{tongxundizhi}\\
  \hline
  \,备注：\NKT@keyvalue{beizhu}\\
  \hline
  \end{tabular}\hss}

  \hbox to 140mm{%
  \fontsize{10.5}{10.5}\selectfont 
  \def\arraystretch{1.8}
  \tabcolsep 0pt
  \hskip -8mm
  \bfseries
  \begin{tabular}{ll}
   注：&本授权书适用我校授予的所有博士、硕士的学位论文。由作者填写(一式两份)签字后交校图书\\
       &馆，非公开学位论文须附《南开大学研究生申请非公开学位论文审批表》。
  \end{tabular}\hss}}
